.one {
    font-size: 10px + 10px;
}

.two {
    font-size: 30px - 10px;
}

.three {
    font-size: 10px * 2;
}

.four {
    // 나누기는 괄호사용 - 리스트에서도 사용하기 때문에 혼동 있음
    font-size: (20px / 10);
}

.five {
    font-size: 8px % 3;
}

// 비교하거나 연산하는 값의 단위가 동일하지 않으면 에러가 발생!
// 나머지 연산자 %는 그렇지 않은 경우도 있다