@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Pretendard-Regular, sans-serif;
}

.card~.card{
    margin-top: 20px;
}

.card a{
    width: 288px;
    background: #FFFFFF;
    text-decoration: none;
    color: #29363D;
    display: block;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /*이거 해야 사진도 짤린다!!!  */
    overflow: hidden;
}


/* 패딩탑 으로도 해보기! */
.card img {
    width: 100%;
    vertical-align: top;
    aspect-ratio: 288/196;
    object-fit: cover;
}

.txt-box {
    margin: 24px 16px 19px;
}

.txt-box .tit {
    font-family: 'Pretendard-semibold';
    font-size: 16px;
    line-height: 19px;

    /* 한줄 말줄임표 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 타이틀바로뒤에 p */
.txt-box .tit + p {
    font-size: 12px;
    line-height: 167%;
    color: #5A6A72;
    margin: 12px 0 19px;

    /* 2줄말줄임표 */
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 영문 단어깨기 고려 */
    word-break: break-all;
}

.button {
    text-decoration-line: underline;
    font-family: 'Pretendard-semibold';
    font-size: 14px;
    cursor: pointer;
    padding-left: 6px;
}
