body {
    margin: 0;
    background-color: #ddd;
}

.header {
    height: 300px;
    background-image: url(images/cover.png);
    background-position: center;
    overflow: hidden;
    /* 이거랑 - 텍스트이 마진 top을 -100하는 거랑 똑같다 */
    margin-bottom: -100px;

}

.contents {
    background-color: white;
    width: 860px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.box-wrapper {
    overflow: hidden;
    width: 960px;
    margin: 50px auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 5px;
    float: left;
    text-align: center;
    line-height: 100px;
    font-family: 'arial';
    font-size: 50px;
}

.box.select {
    background-color: red;
    /* -50만큼 차지하는 공간이 작아진다 */
    margin-left: -50px;
    margin-right: -50px;

    /* 포지션이 static이 아니면 레이어가 맨 위로 올라 온다! */
    position: relative;
}

.map {
    background-color: yellow;
    /* width: 400px; */
    padding: 50px;

    /* 시작점이 앞으로 50px 당겨짐  */
    /* margin-left: -50px; */

    transition: all 1s;
}

.map:hover {
    /* width가 auto일때 margin이 음수이면 그만큼 크기가 커진것 같이 보인다!! */
    width: auto;
    margin: 0 -50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

}