@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

body,
h1,
h2,
p,
ul,
li,
button {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    border: 0;
    background: none;
    font: inherit;
    color: inherit;
}

button:not(:disabled) {
    cursor: pointer;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

section {
    background-color: #fff;
}

/* layout-------------------- */

/* h1 */
h1 {
    /* h1 안에 img기 inline요소!  텍스트얼라인으로 정렬 */
    text-align: center;
    margin-bottom: 68px;
}

h1 img {
    width: 386px;
    max-width: calc(100% - 194px);
}

/* PC */
@media (min-width: 748px) {
    body {
        background: #EAE8FE;
    }

    main {
        width: 748px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px auto;
        grid-template-areas:
            "section1 section2"
            "section1 section3";
        gap: 28px 20px;
    }

    .section1 {
        grid-area: section1;
    }

    .section2 {
        grid-area: section2;
    }

    .section3 {
        grid-area: section3;
    }

    h1 {
        margin-bottom: 68px;
    }

}

/* Mobile */
@media (max-width: 747px) {
    h1 {
        margin-bottom: 18px;
    }

}

.section1 {
    padding: 31px 27px 28px;
}


/* 판매 음료 */
.cola-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.btn-cola {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 11px 12px 9px;
    position: relative;
    width: 100%;
}

/* 외곽선으로 border가 생기면 boxshadow권장! */
.btn-cola.active {
    box-shadow: 0 0 0 3px #6327FE;
}

/* 마진을 정확하게 주기 위해서 */
.cola-img,
.cola-name,
.cola-price {
    display: block;
}

.cola-img {
    width: 36px;
    margin: auto;
}

.cola-name {
    font-size: 9px;
    margin: 6px 0;
}

.cola-price {
    font-size: 12px;
    font-weight: 500;
    background: #6327FE;
    color: #fff;
    padding: 2px 0;
    border-radius: 20px;
}

.soldout {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0 0;
    border-radius: 10px;
}

.soldout span {
    display: inline-block;
    color: #EAE8FE;
    border: 5px double #EAE8FE;
    padding: 0px 8px;
    transform: rotate(-20deg) translate(-10px, 30px);
}

/* 잔액 및 장바구니 */
.container {
    display: grid;
    grid-template-columns: auto calc((100% - 24px) / 3);
    grid-template-rows: 32px 32px 106px;
    gap: 12px;
    margin-top: 20px;
}

.bg-box {
    background: #EAE8FE;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
}

.bg-box h2,
.bg-box p {
    font-size: 14px;
    font-weight: 500;
}

.bg-box h2::after {
    content: " :";
}

.btn {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 13px;
}

.btn-get{
    background-color: #6327FE;
    color: #fff;
}

#input-money{
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 0 6px;
    font-size: 13px;
}
#input-money::placeholder{
    color: #bdbdbd;
}

/* section2 */

.section2 {
    padding: 9px 27px;
}

.get-list{
    background: #EAE8FE;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    overflow-y: auto;
    padding: 12px;

}

.get-list li{
    background: #fff;
    border-radius: 5px;
    padding: 8px;
    font-size: 9px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.get-list li:not(:first-child){
    margin-top: 6px;
}

.get-list li img{
    width: 18px;
}
.get-list li strong{
    font-size: 14px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: auto;
}

/* section3 */

.section3{
    padding: 25px 27px 26px;
    display: flex;
    flex-direction: column;
}

.section3 h2{
    font-size: 14px;
    text-align: center;
    margin-bottom: 13px;
}
.total-price{
    font-size: 12px;
    text-align: right;
    margin-top: 6px;
}

.section3 .get-list{
    flex-grow: 1;
}